@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333; }

h1, h2 {
  color: #73862f; }

.icon-sm {
  font-size: 1.2rem; }

.icon-med {
  font-size: 2.4rem; }

.icon-lg {
  font-size: 4rem; }

.icon-xl {
  font-size: 6rem; }

.bold {
  font-weight: 600; }

.color-primary {
  color: #295ba7; }

.color-secondary {
  color: #94ac3c; }

.color-tertiary {
  color: #fcc314; }

.color-red {
  color: #DD4B39; }

.color-red-dark {
  color: #ac2d1e; }

.banner {
  position: relative; }
  .banner--home {
    background-image: url("/images/bg-home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid #eee;
    padding: 20rem; }
  .banner__text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .banner__primary-heading {
    font-size: 4rem;
    font-weight: 900;
    animation: moveInLeft 1s ease-out; }
  .banner__secondary-heading {
    font-size: 3rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out; }
  .banner__button-box--home {
    position: relative; }
    .banner__button-box--home-1 {
      top: 12rem;
      right: 15rem;
      animation: moveInRight 1s ease-out;
      position: absolute; }
    .banner__button-box--home-2 {
      top: 12rem;
      left: 15rem;
      position: absolute;
      animation: moveInLeft 1s ease-out; }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none; }

.btn-med {
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem; }

.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  width: 24rem; }

.btn-theme-primary {
  background-color: #295ba7;
  color: #fff;
  font-weight: 700;
  transition: all .5s; }
  .btn-theme-primary:hover {
    color: #fff;
    background-color: #4a80d3; }

.btn-theme-secondary {
  background-color: #94ac3c;
  color: #fff;
  font-weight: 700;
  transition: all .5s; }
  .btn-theme-secondary:hover {
    color: #fff;
    background-color: #b6cb6a; }

.btn-theme-tertiary {
  background-color: #fcc314;
  font-weight: 700;
  color: #000;
  transition: all .5s; }
  .btn-theme-tertiary:hover {
    color: #000;
    background-color: #fdd660; }

.btn-theme-google {
  background-color: #DD4B39;
  color: #fff; }
  .btn-theme-google:hover {
    color: #fff;
    background-color: #e47365; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  backface-visibility: hidden; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #4a80d3, #1f457e);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__heading {
    font-size: 2rem;
    backface-visibility: hidden; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input, .form__select {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background-color: rgba(238, 238, 238, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 70%;
  display: block;
  color: inherit;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder, .form__select::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus, .form__select:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #295ba7; }
  .form__input:focus:invalid, .form__select:focus:invalid {
    border-bottom: 3px solid #daa503; }
  .form__input--qtrs, .form__select--qtrs {
    width: 25%;
    display: inline-block; }
  .form__input--fifths, .form__select--fifths {
    width: 20%;
    display: inline-block; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #295ba7;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #295ba7;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.header {
  padding: 1rem 0rem;
  position: relative; }
  .header img {
    height: 10rem; }
  .header__logo-text {
    font-family: 'Chango', cursive;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    position: absolute;
    top: 2.5rem;
    padding-left: 1rem; }
    .header__logo-text--1 {
      letter-spacing: .28rem;
      font-size: 3.8rem; }
    .header__logo-text--2 {
      font-size: 3.6rem; }

.nav {
  margin-top: 4rem; }
  .nav ul {
    list-style-type: none; }
    .nav ul li {
      display: inline;
      text-transform: uppercase; }
      .nav ul li a {
        color: #333; }
        .nav ul li a:hover, .nav ul li a:active {
          text-decoration: none; }
        .nav ul li a.btn {
          color: #fff;
          padding: 1rem;
          width: 10rem;
          font-size: 1.2rem;
          outline: none; }

.footer {
  margin-top: 8rem;
  background-color: #295ba7;
  color: #fff;
  padding: 4rem 0rem; }

.section-about h1 {
  font-size: 3.2rem;
  font-weight: 700; }

.signUp {
  min-height: 45rem; }
