<footer class="footer">
    <div class="container">
        <div class="row">
            <div
                class="col-xl-3 col-lg-3 col-med-12 col-sm-12 col-12 order-2 order-sm-2 order-med-1 order-lg-1 order-xl-1 footer__col footer__col--1">
                <h3>Follow Us On</h3>
                <a href="https://www.facebook.com/WoofShare/" target="_blank"><i
                        class="fab fa-facebook icon-lg"></i></a>
                <a href="https://twitter.com/woofshare" target="_blank"><i
                        class="fab fa-twitter-square icon-lg pl-3"></i></a>
                <a href="https://github.com/jaspreetsidhu/woofShare" target="_blank"><i
                        class="fab fa-github-square icon-lg pl-3"></i></a>

            </div>
            <div
                class="col-xl-6 col-lg-6 col-med-12 col-sm-12 col-12 order-3 order-sm-3 order-med-2 order-lg-2 order-xl-2 footer__col footer__col--2">


                <ul class="footer__nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>

            </div>
            <div
                class="col-xl-3 col-lg-3 col-med-12 col-sm-12 col-12 order-1 order-sm-1 order-med-3 order-lg-3 order-xl-3 footer__col footer__col--3">
                <h3>Questions or Concerns?</h3>
                <p class="mt-5">We would love to hear from you! Feel free to reach out to us at:
                    <br><a href="mailto:woofshare@gmail.com">WoofShare@Gmail.com</a>
                </p>

            </div>
        </div>
    </div>
    <div class="row footer__row--2">
        <div class="container">
            <div class="col-12 footer__col footer__col--4">
                <p class="mt-3 mb-0 text-small">&copy; <span id="year">2017</span> WoofShare, Co.</p>
                <p class="mt-0 text-small">Made with &hearts; in Austin, Texas</p>
            </div>
        </div>

    </div>
</footer>
<script>
    var thisYear = Date.now();
    thisYear = moment(thisYear).format("Y");
    var yearId = document.getElementById("year");
    yearId.innerHTML = thisYear;
</script>