<footer class="footer">
    <div class="container">
        <div class="row">
            {{!-- <div class="col-sm-2">
            <i class="fas fa-user-secret icon-xl p-5"></i>
            </div>
             <div class="col-sm-8">
            <p style="min-height:100px" class="text-center">Privacy Policy<br>
                WoofShare doesn’t make money from ads, so we don’t collect data in order to advertise to you. The
                tracking
                we do at WoofShare is to make our application work as well as possible. In order to give you the best
                possible experiences using WoofShare, we collect information from your interactions with our network.
                Some
                of this information you actively tell us (such as your Google account data), which we use to track your
                account or communicate with you.
            </p>
            </div> --}}

            <div class="col-4 footer__col footer__col--1">

            </div>
            <div class="col-4 footer__col footer__col--2">
                <nav class="nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/">Gallery</a>
                    <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                    <a class="nav-link" href="/sitemap">Site Map</a>
                </nav>
                <p class="mt-3">&copy; Copyright<span id="year"></span> WoofShare </p>
            </div>
            <div class="col-4 footer__col footer__col--3">
                <h3>Follow Us On</h3>
                <a href="#!"><i class="fab fa-facebook icon-lg"></i></a>
                <a href="#!"><i class="fab fa-twitter-square icon-lg pl-3"></i></a>
                <a href="#!"><i class="fab fa-github-square icon-lg pl-3"></i></a>
                
            </div>
        </div>
    </div>
</footer>