<footer class="footer">
    <div class="container">
        <div class="row">
            {{!-- <div class="col-sm-2">
            <i class="fas fa-user-secret icon-xl p-5"></i>
            </div>
             <div class="col-sm-8">
            <p style="min-height:100px" class="text-center">Privacy Policy<br>
                WoofShare doesn’t make money from ads, so we don’t collect data in order to advertise to you. The
                tracking
                we do at WoofShare is to make our application work as well as possible. In order to give you the best
                possible experiences using WoofShare, we collect information from your interactions with our network.
                Some
                of this information you actively tell us (such as your Google account data), which we use to track your
                account or communicate with you.
            </p>
            </div> --}}

            <div class="col-3 footer__col footer__col--1">
               <h3>Follow Us On</h3>
                <a href="https://www.facebook.com/WoofShare/" target="_blank"><i class="fab fa-facebook icon-lg"></i></a>
                <a href="https://twitter.com/woofshare" target="_blank"><i class="fab fa-twitter-square icon-lg pl-3"></i></a>
                <a href="https://github.com/jaspreetsidhu/woofShare" target="_blank"><i class="fab fa-github-square icon-lg pl-3"></i></a>
                
            </div>
            <div class="col-6 footer__col footer__col--2">
                <p>Made with &hearts; in Austin, Texas</p>
                 <p class="mt-3 text-small">&copy; Copyright <span id="year">2017</span><br>WoofShare, Co.</p>
                {{!-- <nav class="nav mx-auto">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/">Gallery</a>
                    <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                    <a class="nav-link" href="/sitemap">Site Map</a>
                </nav> --}}
                <ul class="footer__nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
               
            </div>
            <div class="col-3 footer__col footer__col--3">
                <h3>Questions or Concerns?</h3>
                <p class="mt-5">We would love to hear from you! Feel free to reach out to us at:
                    <br><a href="mailto:woofshare@gmail.com">WoofShare@Gmail.com</a>
                </p>
                
            </div>
        </div>
    </div>
</footer>
<script>
    var thisYear = Date.now();
    thisYear = moment(thisYear).format("Y");
    var yearId = document.getElementById("year");
    yearId.innerHTML = thisYear;
</script>