<div class="container">
  <header>
    <div class="row">
      <div class="header col-4">
        <img src="/images/wf-logo.svg" alt="logo" />
        <div class="header__logo-text">
          <span class="color-secondary header__logo-text--1">Woof</span><br>
          <span class="color-tertiary header__logo-text--2">Share</span>
        </div>
      </div>
      <div class="col-8">
        <nav class="nav">
          <ul>
            {{!-- <li class="pr-5"><a href="#!">What is WoofShare?</a></li> --}}
            {{!-- What is WoofShare button --}}
            <li "pr-5"><a href="#!" {{!-- class="btn btn-theme-secondary"  --}}data-toggle="modal"
                data-target="#WhatIsWoofShareModal">What is WoofShare? </a>
              <i class="fas fa-paw p-5 text-secondary"></i>
            <li class="pr-5"><a href="#!">How it works</a></li>
            <li>
              {{!-- <a href="/signUp" class="btn btn-theme-primary">Get Started</a> --}}
             <div class="dropdown user-details" id="dropDownUser" >
                            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://via.placeholder.com/50x50" alt="Logo" id="userProfilePic">
                                <span class="d-none d-lg-inline d-xl-inline" id="userProfileName">Username</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                               
                                <a class="dropdown-item" id="logOutLink" href="#">Logout</a>
                            </div>
                        </div>
            </li>
          
            <li><a href="#!" class="btn btn-theme-secondary" data-toggle="modal" data-target="#loginModal" id="indexloginLink">Login</a>
            </li>
          </ul>
        </nav>
         
      </div>
    </div>
  </header>

</div>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="color-primary modal-title bold" id="loginModalLabel">User Login</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button id="btnGoogleLogin" class="btn btn-theme-red btn-lg m-5"><i class="fab fa-google pr-3"></i>Login with Google</button>
        <div class="text-left m-5">
          <p><span class="color-red-dark bold">Note:</span> We are currently in beta testing. As such, we are only
            providing login authentication via Google. If
            you do not wish to sign in with Google, please check back with us periodically. We will be adding additional
            login options in the future.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- What is WoofShare Modal -->
<div class="modal fade" id="WhatIsWoofShareModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="color-primary modal-title bold" id="whatIsWoofShareModalLabel">What Is WoofShare</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="text-left m-5">
          <p>Woofshare connects people to dogs and dogs to people, and provides innovative solutions for dogs, dog
            lovers and dog owners. </p>
          <p>
            Dog Lovers- If you have lots of free time, own a home, and never have to travel, having a dog is great, but
            for those of us who work full-time and have busy lives, dog ownership is next to impossible. Sharing time
            with a dog can provide hours of fun and enjoyment. With WoofShare, you can rent a dog, spend time with them,
            and return them. It is a mutually beneficial experience because while they are entertaining and loving you,
            you get to love and play with them.</p>
          <p>
            Dog Owners- You love your dog! They are loyal and always happy to see you, but you may have lost the ability
            to give them the time that they need. If you have ever felt guilt because you have had to leave your dog
            alone, WoofShare provides a solution for you and your dog. Now, with the WoofShare Share A Dog program, you
            can rent your dog to other dog lovers who spend time with them and love them while you are working or
            traveling. No more guilt. Now you can have a happy dog who gets a playdate when you can’t be there for them.
          </p>
          <p>
            Dog Shelters and Fosters- Dog shelters and fosters do what they can to provide transitional living for dogs
            who have not found their forever home. This can be a sad and lonely existence for a dog. WoofShare Share A
            Dog program provides an opportunity to share your precious pound puppies with others who love dogs and want
            to spend time with. Instead of being stuck in a kennel alone, they receive human interaction and much needed
            exercise. </p>
          <p>
            So what are you waiting for? Make a dog’s life better. </p>
          <p><button class="btn btn-theme-red btn-lg m-5" data-dismiss="modal">
            <a href="#HowItWorks">How It Works</a>
          </button> 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>