<div class="header">
  <div class="container">
  <header>
    <div class="row">
      <div class="header__logo col-xl-4 col-lg-4 col-med-2 col-sm-2 col-2">
        <img src="/images/wf-logo.svg" alt="logo" />
        <div class="header__logo-text">
          <span class="color-secondary header__logo-text--1">Woof</span><br>
          <span class="color-tertiary header__logo-text--2">Share</span>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-med-10 col-sm-10 col-10">
        <nav class="nav float-right">
          <ul>
            <li class="pr-5"><a href="/">Home</a></li>
            <li id="gallery-header-link" class="pr-5"><a href="/gallery">Gallery</a></li>
            <li id="gallery-user-link" class="pr-5"><a href="/user-profile">Account</a></li>
            <li>
              {{!-- <a href="/signUp" class="btn btn-theme-primary">Get Started</a> --}}
              <div class="dropdown header__user-details header__user-details__toggle btn-login-primary"
                id="dropDownUser">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="https://via.placeholder.com/50x50" alt="Logo" id="userProfilePic">
                  <span class="d-none d-lg-inline d-xl-inline" id="userProfileName">Username</span>
                </a>
                <div class="dropdown-menu header__user-details__dropdown" aria-labelledby="dropdownMenuLink">

                  <a class="dropdown-item" id="logOutLink" href="#">Logout</a>
                </div>
              </div>
            </li>

            <li><a href="#!" class="btn btn-theme-secondary" data-toggle="modal" data-target="#loginModal"
                id="indexloginLink">Login</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </header>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="color-primary modal-title bold" id="loginModalLabel">User Login</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <button id="btnGoogleLogin" class="btn btn-theme-red btn-lg m-5"><i class="fab fa-google pr-3"></i>Login with
          Google</button>
        <div class="text-left m-5">
          <p><span class="color-red-dark bold">Note:</span> We are currently in beta testing. As such, we are only
            providing signup/login authentication via Google. If
            you do not wish to sign up/in with Google, please check back with us periodically. We will be adding additional
            login options in the future.</p>
        </div>
      </div>
    </div>
  </div>
</div>
