<div id="gallery">
    {{> header }}
    <div class="container mt-5" style="min-height: 400px">
        <section class="gallery__controls">
            <div class="row">
                <div class="col-12">
                    <div class="gallery__controls-menu">

                        <input type="search" name="search" placeholder="Tag Search" class="mr-4" />
                        <select name="age" id="age" class="mr-4">
                            <option selected="selected">--Sort By Age--</option>
                            <option value="puppy">Puppy</option>
                            <option value="adult">Adult</option>
                            <option value="senior">Senior</option>
                        </select>
                        <select name="rating" id="rating" class="mr-4">
                            <option selected="selected">--Sort By Rating--</option>
                            <option value="paws-1">1 Paw</option>
                            <option value="paws-2">2 Paws</option>
                            <option value="paws-3">3 Paws</option>
                            <option value="paws-4">4 Paws</option>
                        </select>
                        <select name="distance" id="distance" class="mr-4">
                            <option selected="selected">--Sort By Distance--</option>
                            <option value="dist-5">Within 5 miles</option>
                            <option value="dist-10">Within 10 miles</option>
                            <option value="dist-15">Within 15 miles</option>
                            <option value="dist-20">Within 20 miles</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery__table mt-5">
            <div class="row galler__table__row">
                {{#each dogs}}
                {{#if available}}
                {{> dog}}
                {{/if}}
                {{/each}}
            </div>
        </section>
    </div>
</div>
{{> footer }}