<div id="home">
  {{> header }}
  <div class="banner banner--home">
    <div class="banner__text-box">
      <h1 class="banner__primary-heading">Spend Some Time with a Furry Friend!</h1>
      <h2 class="banner__secondary-heading">Enjoy the benefits of having a dog without the ownership hassle.</h2>
    </div>
    <div class="banner__button-box--home">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-lg btn-theme-primary banner__button-box--home-1">Get
            started as an
            loaner</button>
        </div>
        <div class="col-6">
          <button class="btn btn-lg btn-theme-secondary banner__button-box--home-2">Get
            started as
            an borrower</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="section-about mt-5">
      <h1 class="my-5 text-center">How it Works</h1>
      <div class="row">
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-dog  icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">View Our Dog Library</h3>
            <p class="feature-box__text">Dogs come in all breeds, shapes and sizes, and we have a variety to choose from. All of our dogs are friendly, potty-trained and good on a leash. Look for the four paws rating on the dog profile to see other renter's experiences.
            </p>
            <button class="btn btn-lg btn-theme-primary my-3">See Our Dogs</button>
          </div>
        </div>
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-bone icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">Become a Renter</h3>
            <p class="feature-box__text">Complete a simple application to become a renter.  You can check out a dog for the day or for several days.  You may even be able to adopt the dog of your dreams if you rent from a shelter or foster-care owner!
            </p>
            <button class="btn btn-lg btn-theme-tertiary my-3">Apply to Rent</button>
          </div>
        </div>
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-paw icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">Share you Dog</h3>
            <p class="feature-box__text">You can share your dogs with others who will love them and spend time with them when you can't be there for them.  Complete this application to start the process. You get to personally approve all potential renters.
            </p>
            <button class="btn btn-lg btn-theme-secondary my-3">Apply to Share</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  {{> footer }}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>