<div id="home">
  {{> header }}
  <div class="banner banner--home">
    <div class="banner__text-box">
      <h1 class="banner__primary-heading">Spend Some Time with a Furry Friend!</h1>
      <h2 class="banner__secondary-heading">Enjoy the benefits of having a dog without the ownership hassle.</h2>
    </div>
    <div class="banner__button-box--home">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-lg btn-theme-primary banner__button-box--home-1">Get
            started as an
            loaner</button>
        </div>
        <div class="col-6">
          <button class="btn btn-lg btn-theme-secondary banner__button-box--home-2">Get
            started as
            an borrower</button>
        </div>
      </div>
    </div>
  </div>
  <div class="paw-bg">
  <div class="container">
    <section class="section__about">
      <div class="row section__about__what-is">
        <div class="col-6">
          <div class="section__about__what-is__desc">
            <h1>What is WoofShare?</h1>
            <p>Woofshare connects people to dogs and dogs to people, and provides innovative solutions for dogs, dog
              lovers and dog owners.</p>
          </div>
        </div>
        <div class="col-6">
          <div class="section__about__composition">
            <img src="/images/comp-pic-1.jpg" alt="Photo 1"
              class="section__about__composition__photo section__about__composition__photo--p1">
            <img src="/images/comp-pic-2.jpg" alt="Photo 2"
              class="section__about__composition__photo section__about__composition__photo--p2">
            <img src="/images/comp-pic-3.jpg" alt="Photo 3"
              class="section__about__composition__photo section__about__composition__photo--p3">
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <section class="section__about">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="/images/video.mp4" type="video/mp4">
        <source src="/images/video.webm" type="video/webm">
        Your browser is not supported!
      </video>
    </div>
    <div class="container section__about__for-who">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner story">
          <div class="carousel-item active story__text">
            <h1>For Dog Lovers</h1>
            <p>If you have lots of free time, own a home, and never have to travel, having a dog is great, but
              for those of us who work full-time and have busy lives, dog ownership is next to impossible. Sharing time
              with a dog can provide hours of fun and enjoyment. With WoofShare, you can rent a dog, spend time with
              them,
              and return them. It is a mutually beneficial experience because while they are entertaining and loving
              you,
              you get to love and play with them.</p>
          </div>
          <div class="carousel-item story__text">
            <h1>For Dog Owners</h1>
            <p>You love your dog! They are loyal and always happy to see you, but you may have lost the ability
              to give them the time that they need. If you have ever felt guilt because you have had to leave your dog
              alone, WoofShare provides a solution for you and your dog. Now, with the WoofShare Share A Dog program,
              you
              can rent your dog to other dog lovers who spend time with them and love them while you are working or
              traveling. No more guilt. Now you can have a happy dog who gets a playdate when you can’t be there for
              them.
            </p>
          </div>
          <div class="carousel-item story__text">
            <h1>Dog Shelters and Fosters</h1>
            <p>Dog shelters and fosters do what they can to provide transitional living for dogs
              who have not found their forever home. This can be a sad and lonely existence for a dog. WoofShare Share A
              Dog program provides an opportunity to share your precious pound puppies with others who love dogs and
              want
              to spend time with. Instead of being stuck in a kennel alone, they receive human interaction and much
              needed
              exercise. </p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {{!-- <div class="row">
        <div class="story">
          <div class="story__text">
            <h1>For Dog Lovers</h1>
            <p>If you have lots of free time, own a home, and never have to travel, having a dog is great, but
              for those of us who work full-time and have busy lives, dog ownership is next to impossible. Sharing time
              with a dog can provide hours of fun and enjoyment. With WoofShare, you can rent a dog, spend time with
              them,
              and return them. It is a mutually beneficial experience because while they are entertaining and loving
              you,
              you get to love and play with them.</p>
          </div>
        </div>
      </div> --}}

      {{!-- <h1>For Dog Owners</h1>
      <p>You love your dog! They are loyal and always happy to see you, but you may have lost the ability
        to give them the time that they need. If you have ever felt guilt because you have had to leave your dog
        alone, WoofShare provides a solution for you and your dog. Now, with the WoofShare Share A Dog program, you
        can rent your dog to other dog lovers who spend time with them and love them while you are working or
        traveling. No more guilt. Now you can have a happy dog who gets a playdate when you can’t be there for them.
      </p>
      <h1>Dog Shelters and Fosters</h1>
      <p>Dog shelters and fosters do what they can to provide transitional living for dogs
        who have not found their forever home. This can be a sad and lonely existence for a dog. WoofShare Share A
        Dog program provides an opportunity to share your precious pound puppies with others who love dogs and want
        to spend time with. Instead of being stuck in a kennel alone, they receive human interaction and much needed
        exercise. </p>
      <p>
        So what are you waiting for? Make a dog’s life better. </p>
      <p> --}}
    </div>

  </section>
  <div class="paw-bg">
  <div class="container">
    <section class="section__about">
      <h1 class="my-5 text-center">How it Works</h1>
      <div class="row">
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-dog  icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">View Our Dog Gallery</h3>
            <p class="feature-box__text">Dogs come in all breeds, shapes and sizes, and we have a variety to choose
              from. All of our dogs are friendly, potty-trained and good on a leash. Look for the four paws rating on
              the dog profile to see other renter's experiences.
            </p>
            <a href="/gallery" class="btn btn-lg btn-theme-primary my-3">See Our Dogs</a>
          </div>
        </div>
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-bone icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">Become a Renter</h3>
            <p class="feature-box__text">Complete a simple application to become a renter. You can check out a dog for
              the day or for several days. You may even be able to adopt the dog of your dreams if you rent from a
              shelter or foster-care owner!
            </p>
            <a href="/signUp" class="btn btn-lg btn-theme-tertiary my-3">Apply to Rent</a>
          </div>
        </div>
        <div class="col-4">
          <div class="feature-box">
            <i class="fas fa-paw icon-xl p-5 feature-box__icon"></i>
            <h3 class="color-secondary my-4 feature-box__heading">Share your Dog</h3>
            <p class="feature-box__text">You can share your dogs with others who will love them and spend time with them
              when you can't be there for them. Complete this application to start the process. You get to personally
              approve all potential renters.
            </p>
            <a class="btn btn-lg btn-theme-secondary my-3">Apply to Share</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  {{> footer }}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>