<div id="signUp">
    {{> header }}
    <div class="container" style="min-height: 400px">
        <div class="row">
            <div class="col-12">
                <section class="signUp">
                    <h1 class="my-5 ml-3">Sign up to be a borrower</h1>
                      <!--form action="#!" class="form form__signUp" !-->
                          <form action="/auth/google" class="form form__signUp">
                       
                        <div class="form__group">
                            <input id="name" type="text" class="form__input" placeholder="Username" required>
                            <label for="name" class="form__label">Username</label>
                        </div>
                        <div class="form__group">
                            <input id="search_term" type="text" class="form__input" placeholder="Address" required>
                            <label for="search_term" class="form__label">Address</label>
                        </div>
                        <div class="form__group">
                            <button id="signUpSubmit" class="btn btn-theme-google btn-lg"><i class="fab fa-google pr-3"></i>Sign up with Google</button>
                            <span class="mx-3 signUp__why text-small color-primary">Why do I have to sign up with Google?</span>
                        </div>
            </div>
            </form>
            </section>
        </div>
    </div>
</div>
</div>
<script>
    var autocomplete;

    function activatePlacesSearch() {
        var input = document.getElementById('search_term');
        autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            fillInAddress();
        });
    }

    function fillInAddress() {
        /* Get the place details from the Autocomplete object. */
        /* The Autocomplete.getPlace() call retrieves a PlaceResult object */

        var place = autocomplete.getPlace();

        console.log(place);

        /* Use data from place.address_components[] according to your needs */
        /* For reference, use the link: */
        /* https://developers.google.com/maps/documentation/javascript/places#place_details_results */
    }
</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW6weTjEKjfBWH8WvjmTsfvvNfxYKldqY&libraries=places&callback=activatePlacesSearch"></script>

{{> footer }}