<div id="sitemap">
    {{> header }}
    <div class="paw-bg">
        <div class="container mt-5">
            <div id="sitemap-top">
                <nav>WoofShare.app HTML Site Map</nav>
                <h3>
                    <span>Last updated: 2019, April 13<br>
                        Total pages: 2</span>
                    <a href="https://polar-basin-98786.herokuapp.com">polar-basin-98786.herokuapp.com Homepage</a>
                </h3>
            </div>
            <div id="sitemap-cont">
                <ul class="sitemap-level-0">

                    <li class="sitemap-lhead">/ <span class="lcount">2 pages</span></li>

                    <li class="sitemap-lpage"><a href="https://polar-basin-98786.herokuapp.com/" title="Home Page">Home Page</a>
                    </li>
                    <li class="sitemap-lpage sitemap-last-page"><a href="https://polar-basin-98786.herokuapp.com/privacy-policy"
                            title="Privacy Policy">Privacy Policy</a></li>
                </ul>
                <!--
Please note:
You are not allowed to remove the copyright notice below.
Thank you!
www.xml-sitemaps.com
-->
            </div>
            <div id="sitemap-footer">
                Page created with <a target="_blank" href="https://www.xml-sitemaps.com">Google XML sitemap and html
                    sitemaps generator</a> | Copyright © 2005-2018 XML-Sitemaps.com
            </div>
        </div>
    </div>
    {{> footer }}