<div id="userProfile">
    {{> header }}
    <div class="paw-bg">
    <div class="container mt-5">
        <section class="profile" style="min-height: 400px">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-med-12 col-sm-12 col-12 profile__left-col">
                    <div class="profile__left-col__img">
                        <img src="{{this.user.dataValues.photo}}" />
                        <h3>{{this.user.dataValues.userName}}</h3>
                    </div>
                    <div class="profile__left-col__menu">
                        <ul class="nav nav-tabs profile__left-col__menu__nav-tabs" id="myTab" role="tablist">
                            <li><a class="nav-item nav-link profile__left-col__menu__nav-link active"
                                    id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab"
                                    aria-controls="nav-active" aria-selected="true">Active</a></li>
                            <li><a class="nav-item nav-link profile__left-col__menu__nav-link" id="nav-completed-tab"
                                    data-toggle="tab" href="#nav-completed" role="tab" aria-controls="nav-completed"
                                    aria-selected="false" >Completed</a></li>
                            <li><a class="nav-item nav-link profile__left-col__menu__nav-link" id="nav-reviewed-tab"
                                    data-toggle="tab" href="#nav-reviewed" role="tab" aria-controls="nav-reviewed"
                                    aria-selected="false" data-userId="{{user.dataValues.id}}">Reviews</a></li>
                            <li><a class="nav-item nav-link profile__left-col__menu__nav-link" id="nav-archived-tab"
                                    data-toggle="tab" href="#nav-archived" role="tab" aria-controls="nav-archived"
                                    aria-selected="false">Archive</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-med-12 col-sm-12 col-12">
                    <div class="tab-content" id="nav-tabContent">
                        {{!-- {{#each rentals }}
                        {{#unless returnComplete}}
                            {{>userActive}}
                        {{/unless}}
                        {{/each}} --}}
                        <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                        {{#each rentals }}
                            {{#unless returnComplete}}
                               {{>userActive}}
                            {{/unless}}
                        {{/each}}
                        </div>
                        <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
                        {{#each rentals }}
                            {{#if returnComplete}}
                                {{#unless statusArchive}}
                                   {{>userCompleted}}
                                {{/unless}}
                            {{/if}}
                        {{/each}}
                        </div>
                        <div class="tab-pane fade" id="nav-archived" role="tabpanel" aria-labelledby="nav-archived-tab">
                        {{#each rentals }}
                            {{#if returnComplete}}
                                {{#if statusArchive}}
                                   {{>userArchive}}
                                {{/if}}
                            {{/if}}
                        {{/each}}
                        </div>       
                          <div class="tab-pane fade" id="nav-reviewed" role="tabpanel" aria-labelledby="nav-reviewed-tab">
                        {{#each userRatingDetails }}
                              {{>userRating}}
                        {{/each}}
                        </div>                     
                        <div class="tab-pane fade" id="nav-reviewed" role="tabpanel" aria-labelledby="nav-reviewed-tab">           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
</div>
{{> footer }}