.banner {

    position: relative;

    &--home {
        background-image: url('/images/bg-home.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top: 1px solid $color-grey-light;
        padding: 20rem;
    } 

    &__text-box { 
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
              
    }

    &__primary-heading {
        font-size: 4rem;
        font-weight: 900;
        animation: moveInLeft 1s ease-out;
    }

    &__secondary-heading {
        font-size: 2.4rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out; 
    }


    &__button {  
        
        &-box--home {
            position: relative;

            &-1 {
                top: 12rem;
                right: 15rem;
                animation: moveInRight 1s ease-out;
                position: absolute;
            }

            &-2 {
                top: 12rem;
                left: 15rem;
                position: absolute;
                animation: moveInLeft 1s ease-out;
            }
        }
    }
}