.footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 6rem 0rem;

    &__col {
        
        a:link, 
        a:visited {
            color: $color-white;
            transition: all 1s;
        }

       
        &--1 {
            
        }

        &--2 {
            text-align: center;
            margin-top: 6rem;
            font-size: 1.4rem;
            a:hover,
            a:active {
                text-decoration: underline;
            }

        }

        &--3 {
            padding: 5rem;
            a:hover,
            a:active {
               color: $color-primary-light;
            }
        }
    }
}