.footer {
    background-color: $color-primary;
    color: $color-white;
    // padding: 6rem 0rem;
    overflow-x: hidden;

    &__col {
        
        a:link, 
        a:visited {
            color: $color-white;
            transition: all 1s;
        }

       
        &--1 {
            padding: 5rem 0;
            a:hover,
            a:active {
               color: $color-primary-light;
            }
        }

        &--2 {
            text-align: center;
            margin-top: 6rem;
            padding-top: 3rem;
            font-size: 1.4rem;
            a:hover,
            a:active {
                text-decoration: underline; 
            }

        }

        &--3 {
            h3 {
                font-size: 2rem;
            }
           
            padding: 3rem;
            font-size: 1.4rem;
        }

        &--4 {
            padding: 2rem 0;
            
        }
    }

    &__row {

        &--2 {
            border-top: 1px solid $color-primary-light;
        }
    }

    &__nav {
        margin-top: 6rem;
        li {
            display: inline;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}