.header {
    
    box-shadow: 0 1px 7px #888888;

    &__logo {
        padding: 1rem 0rem; 
        position: relative;
        cursor: pointer;
            
        img {
            height: 10rem;
        }
    }


    &__logo-text {
        font-family: 'Chango', cursive;        
        text-transform: uppercase;
        display: inline-block;
        line-height: 1;
        position: absolute;
        top: 2.5rem;
        padding-left: 1rem;

        &--1 {
            letter-spacing: .28rem;
            font-size: 3.8rem;
        }

        &--2 {
            font-size: 3.6rem;
        }
    }

    &__user-details {

        max-width: 15rem;
        display: inline-block;

        img {
            width: 2rem;
            margin-bottom: .33rem;
        }

        &__toggle {
            padding: .6rem;
            border-radius: 4px;
        
            a {
                color: white !important;
                text-transform: none;            
            }
        }

        &__dropdown a {
            color: $color-primary !important;
            text-transform: uppercase;
        }
    }
}

.nav {    
    margin-top: 4rem;

    ul {
        list-style-type: none;
       
        li {
            display: inline;
            text-transform: uppercase;

            a {
                color: $color-grey-dark;

                &:hover,
                &:active {
                    text-decoration: none;
                }

                &.btn {
                    color: #fff;
                    padding: 1rem;
                    width: 10rem;
                    font-size: 1.2rem;
                    outline: none;
                }
            }
        }
    }

}

@media screen and (max-width: 800px) {

    .header {

        &__logo {
            padding: .5rem 0rem; 
            position: relative;
            cursor: pointer;
                
            img {
                height: 5rem;
            }
        }
    
    
        &__logo-text {      
            display: none;
        }

        &__user-details {

            max-width: 15rem;
            display: inline;
        }

    }

    .nav {    
        margin-top: 1.5rem;
        display: inline;
    }
 }