.gallery {
    
    &__controls {
        padding: 2rem;
        background-color: $color-grey-light;
        border-radius: 4px;
        &-menu {
            select {
                margin-right: 2rem;
            }
        }
    }

    &-card {

        &__modal {

            &__left-col {

                &__img {
                    width: 100%;
                    margin-left: -1.5rem;
                }
                
                &__heading {
                    font-size: 4rem;
                    font-weight: 900;
                    display: inline-block;
                    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }

        }
    }

}