.profile {

    &__left-col {
        background-color: $color-grey-light;
        padding: 2rem;
        text-align: center;
        border-radius: 4px;

        &__img {

            img {
                border-radius: 50%;
                width: 15rem;
                object-fit: contain;
            }      
            
            h3 {
                margin: 2rem 0;
                color: $color-primary;
                font-weight: 900;
            }
        }

        &__menu {

            a {
                color: $color-secondary;
            }

            &__nav-tabs {

                margin-top: 0;
                display: block; 
            }

            &__nav-link {
                &.active {
                    background-color: $color-secondary;
                }
                border: none;

                &:hover {
                    border: none;
                    background-color: $color-tertiary;
                    color: $color-black;
                    margin: 0;
                    padding: .6rem 1rem;
                }
            }
        }
    }

    &__active {
            background: $color-white;
            padding: 2rem;
            &__img {

                img {
                    width: 100%;
                }
            }

            &__schedule-details {

                h4 {
                    display: inline;
                }

                span {
                    margin-right: 2rem;
                    padding-left: .5rem;
                    font-size: 1.4rem;
                }
            }

  
    }
}