// COLORS
$color-primary: #295ba7;
$color-secondary: #94ac3c;
$color-tertiary: #fcc314;

$color-grey-light: #eee;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #333;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-red: #DD4B39;

$color-primary-light: lighten($color-primary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);
$color-tertiary-light: lighten($color-tertiary, 15%);
$color-red-light: lighten($color-red, 15%);

$color-primary-dark: darken($color-primary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);
$color-red-dark: darken($color-red, 10%);



// FONT
$default-font-size: 1.6rem; 